<div ng-controller="PuzzleController" ng-init="initialize(<%= @board.to_json %>, <%= @user.difficulty %>)">
  <div data-toggle="buttons" class="btn-group row" style="width:100%;">
    <div ng-class="{'col-4 btn btn-primary':true, 'active': i.length == difficulty }" ng-repeat="i in stars" ng-click="update_difficulty(i.length)">
      <input type="radio"><span ng-repeat="j in i">&#9733;</span>
    </div>
  </div>
  <div class="row" style="height:20px;">
  </div>
  <div class="row" ng-repeat="row in board.data">
    <div ng-class="{'col-2 text-center': true, 'standard-block':!$last, 'right-block': $last, 'top-row': $parent.$first, 'bottom-row':1 == ($parent.$index % 2), 'left-block': 0 == ($index % 2)}" style="height:156px;" ng-repeat="val in row">
      <div class="row" style="height:33%;"></div>
      <div class="row" style="height:33%;font-size:50px;" value="{{val}}">
        <span ng-show="show($parent.$index, $index)">{{val}}</span>
        <input class="inline text-center" size="1" ng-show="!show($parent.$index, $index)" ng-style="getStyle($parent.$index, $index)" ng-model="answer" ng-blur="isAnswerCorrect($parent.$index, $index, answer)" ng-focus="clearStyle($parent.$index, $index)" ng-keypress="processEnter($event)"></input>
      </div>
      <div class="row" style="height:33%;"></div>
    </div>
    <div class="col-2" ng-show="$first">
      <button class="btn btn-success" ng-click="next()">Next</button>
    </div>
  </div>
</div>
